body {
    padding-bottom: 20px;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

button {
    background-color: lightcoral;
    color: white;
    border: none;
}

button:disabled {
    background-color: lightgray;
}

select {
    width: 80%;
    height: 100%;
    margin-left: 2%;
}

.round {
    border-radius: 50%;
    margin-right: 2%;
    margin-left: 2%;
    width: 50px;
}

.view {
    float: right;
    width: 30px;
    height: 25px;
    margin-right: 2px;
    margin-left: 2px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea {
    max-width: 280px;
}

.dexList {
    margin-right: 0;
    width: 1000px;
}

.filter {
    width: 100%;
    float: right;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.listTab {
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 1px;
    color: lightcoral;
}

.selected {
    color: white;
    background-color: lightcoral;
}

#search {
    width: 99%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dexGrid {
    width: 98%;
    align-content: center;
}

.dexEntry {
    border: outset;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.gridPictureFrame {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listEntry {
    border: outset;
    height: 45px;
    width: 100%;
    overflow: hidden;
}

.listPictureFrame {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.gridPicture {
    margin: auto;
    max-width: 150px;
    max-height: 150px;
}

.listPicture {
    margin: auto;
    max-width: 45px;
    max-height: 45px;
}

.gridLabel {
    background-color: lavender;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    width: 100%;
    height: 20%;
}

.listLabel {
    background-color: lavender;
    padding-left: 1%;
    width: 89%;
    height: 100%;
    float: right;
}

.listName {
    width: 70%;
    float: left;
}

.favCry {
    width: 24%;
    float: right;
    height: 100%;
    padding-right: 5%;
}

.favorite {
    height: 100%;
    width: auto;
    float: right
}

.unfavorite {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 100%;
    width: auto;
    float: right
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.favIcon {
    width: 20%;
    height: 100%;
    overflow: hidden;
    float: right;
    margin-right: 10px;
}

.dexDetails {
    height: 100%;
    width: 800px;
    border: inset;
}

.detailPictureFrame {
    display: flex;
    justify-content: center;
    height: 350px;
}

.details-fav {
    width: 30%;
    height: auto;
}

.cry {
    float: left;
    width: 50%;
}

.fa-volume-up {
    float: right;
    margin-top: 10px;
    color: lightgreen;
}

.stats {
    padding-left: 1%;
    padding-right: 1%;
    background-color: lavender;
    height: 230px;
}

.nameRow {
    padding-top: 1%;
}

.statBars {
    margin-top: 7%;
    text-align: left;
}

.hpBar {
    background-color: lightgreen;
    float: left;
    height: 20px;
    width: 100%;
}

.cpBar {
    background-color: lightblue;
    float: left;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.statRange {
    width: 100%;
}

.weight {
    width: 49%;
    float: left;
}

.height {
    width: 49%;
    float: right;
}

.evolutions {
    width: 100%;
    height: 300px;
}